
{% extends 'base.html' %}
  
{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head %}
    
{% block body %}

<div class="container my-3 border border-3 border border-white rounded-3 p-3 bg-dark bg-opacity-90 shadow">
  <form class= "form" action="/" method="POST" enctype="multipart/form-data">

        <div class="mb-3">
          <div class="container my-1 border border-3 border border-white rounded-3 p-3 bg-dark bg-opacity-90 shadow"><h2  class="text-white ">CDR Smart Analyser</h2></div>

          <label for="selected" class="my-3 d-inline-flex ps-1 text-white" >Choose a Sample:</label>
          <select name="selected" id="cars" class = "mx-2" required>
            <option value="Sample1">Sample1</option>
            <option value="Sample2">Sample2</option>
            <option value="Sample3">Sample3</option>
            <option value="uploaded">Upload </option>
          </select> 

        </div>
            
      <div class="mb-3">
        <label for="file" class="form-label  text-white " >Upload Excel, CSV (*Upload The .Csv in the desried format):   </label>
        <div class="mb-3 d-inline-flex ps-3"><input type="file" accept=".csv, .xlsx" class="form-control" name="file" id="query" aria-describedby="emailHelp" value="False"/></div>
      </div>    
      
      <div class="mb-3">
        <label for="selected" class="my-3 d-inline-flex ps-1 text-white" >Select The Type Of Record:</label>
          <select name="TYPE" id="cars" class = "mx-2">
            <option value="ALL">ALL</option>
            <option value="CALLIN">CALLIN</option>
            <option value="CALLOUT">CALLOUT</option>
            <option value="SMSIN">SMSIN</option>
            <option value="SMSOUT">SMSOUT</option>
          </select> 
      </div>

      <div class="mb-3">
        <label for="date" class="form-label text-white" >Enter Date You Want To See Data Of:   </label>
        <div class="mb-3 d-inline-flex ps-2"><input type="date" class="form-control " name="date" id="query" aria-describedby="emailHelp" value="False"/></div>
      </div>

      <div class="d-flex justify-content-start">
        <p class="mb-3 d-inline-flex ps-1 text-white">Enter range of contact duration you want to filter (sec):</p>
      <div class="mb-3 ">

        <label for="min" class="form-label ps-2 text-white" > Min: </label>
        <div class="mb-3 d-inline-flex ps-1"><input type="number" class="form-control" name="min" id="#" placeholder="50" /></div>
      </div>

      <div class="mb-3">
        <label for="max" class="form-label ps-2 text-white" > Max: </label>
        <div class="mb-3 d-inline-flex ps-1"><input type="number" class="form-control" name="max" id="#" value="False" placeholder="600"/></div>
      </div>
      </div>

      <div class="mb-3">
          <label for="number" class="form-label text-white" >Enter number you want to check details with: </label>
          <div class="mb-3 d-inline-flex ps-2"><input type="text" class="form-control"  name="number" maxlength = "10" id="type" placeholder="eg. 8103312242" /></div>
      </div>
      
      <div class="d-flex justify-content-center"><button type="submit" class=" btn btn-primary px-3 "><b>Filter</b></button></div>>
  </form>
</div>

<div class="container my-3 bg-light rounded-3 pt-2 border border-dark" style="{{display}}">
<div class="mb-3 d-flex justify-content-start border-bottom">
  <div class="p-2 d-flex justify-content-start ">
    <button class="btn-outline-dark btn-lg mx-2" onclick="openCity(event, 'customfilter')" data-toggle="tooltip" data-placement="bottom" title="Filters data upon parameters given above">Custom Filtered</button>
    <button class="btn-outline-dark btn-lg mx-2" onclick="openCity(event, 'Frequency')" data-toggle="tooltip" data-placement="bottom" title="shows the people who has been most contacted with">Frequency</button>
    <button class="btn-outline-dark btn-lg mx-2" onclick="openCity(event, 'TYPE')" data-toggle="tooltip" data-placement="bottom" title="shows the count of each type of record">TYPE</button>
    <button class="btn-outline-dark btn-lg mx-2" onclick="openCity(event, 'IMEI')" data-toggle="tooltip" data-placement="bottom" title="shows the most used IMEI's in the record">IMEI</button>
    <button class="btn-outline-dark btn-lg mx-2" onclick="openCity(event, 'Location')" data-toggle="tooltip" data-placement="bottom" title="shows the location of contact" >Location</button>
    <button class="btn-outline-dark btn-lg mx-2" onclick="openCity(event, 'Call Duration')" data-toggle="tooltip" data-placement="bottom" title="shows the durations" >Duration</button>

  </div>
</div>


<div id="customfilter" class="tabcontent">
  <div class="container my-3 border border-3 border border-white rounded-3 p-3 bg-dark bg-opacity-90 shadow"><h3  class="text-white "><u>Custom Filtered</u></h3></div>

      <!-- PHONE,IMEI1,IMEI2,TYPE,IMSI,Start,End,Cell -->
    <table class="table border border-3 border border-white rounded-3 p-3 bg-dark bg-opacity-90 shadow">
          <thead>
            <tr>
              <th scope="col" class="text-white">SNo</th>
              <th scope="col" class="text-white" >PHONE</th>
              <th scope="col" class="text-white">TYPE</th>
              <th scope="col" class="text-white">START</th>
              <th scope="col" class="text-white">END</th>
              <th scope="col" class="text-white">DURATION(S)</th>
              <th scope="col" class="text-white">TOWER</th>
              <th scope="col" class="text-white">IMEI1 </th>
              <th scope="col" class="text-white">IMEI2</th> 
              <th scope="col" class="text-white">LATITUDE</th>
              <th scope="col" class="text-white">LONGITUDE</th>
              <th scope="col" class="text-white">OPERATOR</th>       
            </tr>
          </thead>
          <tbody></tbody>
          {% if filteredData == 'No Records Found' %}
          <tr><td  class="text-white">{{filteredData}}</td></tr>
          
          {% else %}
          

    {% for i in filteredData %}      
            
            <tr>
              <th class="text-white" scope="row">{{loop.index}}</th>
              <td class="text-white" > {{i['PHONE']}} </td>
              <td class="text-white"> {{i['TYPE']}} </td>
              <td class="text-white"> {{i['START']}} </td>
              <td class="text-white"> {{i['END']}} </td>
              <td class="text-white"> {{i['DURATION']}} </td>
              <td class="text-white"> {{i['TOWER']}} </td>
              <td class="text-white"> {{i['IMEI1']}} </td>
              <td class="text-white"> {{i['IMEI2']}} </td>
              <td class="text-white"> {{i['LATITUDE']}} </td>
              <td class="text-white"> {{i['LONGITUDE']}} </td>
              <td class="text-white"> {{i['OPERATORS']}} </td>
              
            </tr>
  
      {% endfor %}
      {% endif %}
    </table>
</div>

<div id="Frequency" class="tabcontent">
  <div class="container my-3 border border-3 border border-white rounded-3 p-3 bg-dark bg-opacity-90 shadow"><h3  class="text-white "><u>Frequency</u></h3></div>
 <div class= "container my-4 d-flex justify-content-center"><img src = "/frequency.png" alt = "my plot"></div>
</div>

<div id="TYPE" class="tabcontent">
  <div class="container my-3 border border-3 border border-white rounded-3 p-3 bg-dark bg-opacity-90 shadow"><h3  class="text-white "><u>TYPE</u></h3></div>
  <div class= "container my-4 d-flex justify-content-center"><img src = '/type.png' alt = "my plot"></div>
</div>

<div id="IMEI" class="tabcontent">
  <div class="container my-3 border border-3 border border-white rounded-3 p-3 bg-dark bg-opacity-90 shadow"><h3  class="text-white "><u>IMEI</u></h3></div>
  <div class= "container my-4 d-flex justify-content-center"><img src="/imei.png" alt="my plot"></div>
</div>

<div id="Location" class="tabcontent"> 
</div>

<div id="Call Duration" class="tabcontent">
  <div class="container my-3 border border-3 border border-white rounded-3 p-3 bg-dark bg-opacity-90 shadow"><h3 class="text-white">IMEI</h3></div>  
  <div class= "container my-4 d-flex justify-content-center"><img src="/duration.png" alt="my plot"></div>
</div>

</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("btn btn-primary");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

<script type="text/javascript">
  var data = [{
  type: 'scattergeo',
  mode: 'markers+text',
  lon: {{array[8]}},
  lat: {{array[7]}},
  marker: {
      size: 7,
      line: {
          width: 1
      }
  },
  name: 'Phone Location',
}];
var layout = {
  'geo': {
      'resolution': 400
  }
};
Plotly.newPlot('Location', data, layout);
console.log(data);
</script>


<!-- <div class="container my-3">
  {{ data }}
</div> -->

<!-- <div class="container my-3">
  
  {% if searched!='' %}
  <table class="table">
      <thead>
        <tr>
          <th scope="col" >SNo</th>
          <th scope="col" >A </th>
          <th scope="col" >Title</th>
          <th scope="col" >Description</th>
        </tr>
      </thead>
      <tbody>
  {% endif %}

  
  {% for datum in data %}      
        
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td> <a href= {{datum[0]}}> <{{ typeofpin }} src ={{ datum[1] }} style = " width: 256px, height:auto "></{{ typeofpin }}> </a> </td>
          <td>{{ datum[2] }}</td>
          <td>{{ datum[3] }}</td>
        </tr>

  {% endfor %}
        
      </tbody>
    </table> -->
</div>
        

      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
{% endblock body %}
<!-- <style>
  body {font-family: Arial;}
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } -->
